@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,400;1,500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 0 10px;
}
nav {
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
}
nav .container {
  transition: all 0.5s ease-in-out;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2vh;
  width: 100%;
}
nav .container .nav .nav-links a:hover {
  color: rgb(255, 174, 0);
}

.logo {
  max-width: 70px;
  width: 100%;
}
.logo img {
  width: 100%;
}
.nav-links {
  display: flex;
  width: 400px;
  justify-content: space-around;
  grid-gap: 20px;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s;
}
.back {
  width: 100px;
  padding: 10px 0;
  border: 1px solid green;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back a {
  color: rgb(0, 0, 0);
}

/* INFO */
.info {
  -webkit-box-shadow: 0px 4px 50px -10px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 4px 50px -10px rgba(0, 0, 0, 0.65);
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.info_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.product_learn{
  border: none;
  outline: none;
  max-width: 110px;
  width: 100%;
  height: 35px;
  color: #fff;
  padding: 0 5px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 12px;
}
.name_picture_product {
  display: flex;
  max-width: 800px;
  grid-gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.info_img {
  margin-top: 30px;
  max-width: 600px;
  width: 100%;
}
.info_img img {
  width: 100%;
}
.info_description {
  max-width: 1000px;
  color: #7a7a7a;
}
.other_products_h1 {
  margin-top: 20px;
  text-align: center !important;
}
.other_products {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 10px;
  margin-top: 20px;
}
.other_products a{
  text-decoration: none;
}
.info_description_h1_block {
  width: 100%;
}
.info_h1 {
  text-align: start;
  font-size: 30px;
  max-width: 1000px;
  width: 100%;
  color: #1f4375;
  margin-bottom: 20px;
}
.line_info_h1 {
  border-bottom: 2px solid #2385c2;
  max-width: 150px;
  width: 100%;
  margin:10px 10px;
}
.unick {
  max-width: 1000px;
  width: 100%;
  margin-top: 20px;
}
.unick_h1 {
  color: #1f4375;
}
.unick_ul li {
  color: #7a7a7a;
  margin-left: 12px;
}
.product {
  max-width: 300px;
  width: 100%;
  overflow: hidden;
  border: 1px solid rgb(90, 156, 250);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s;
  cursor: pointer;
}
.product_img {
  max-width: 300px;
  width: 100%;
}
.product_img img {
  width: 100%;
}
.description {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(90, 156, 250);
  height: 120px;
 padding: 5px;
}
.description_p {
  text-align: center;
  margin: 10px 10px;
  color: #fff;
}
/* кнопки product */
.product_buuttons {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  grid-gap: 5px;
  margin-bottom: 10px;
}
.product_buuttons button {
  border: none;
  outline: none;
  width: 130px;
  height: 35px;
  color: #fff;
  padding: 0 5px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s;
}
.product_buuttons a{
  max-width: 110px;
  width: 100%;
  }
  
  .product_buuttons button:hover{
    max-width: 120px;
  }
  .product_buuttons a:hover{
    max-width: 120px;
  }
.product_learn {
  background-color: rgb(66, 240, 214);
}
.product_call {
  background-color: rgb(17, 202, 17);
}
.product:hover {
  transform: translateY(-2%);
  -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.68);
  border-radius: 5px;
}

/* FOOTER */
.footer {
  width: 100%;
  min-height: 120px;
  background-color: #7a7a7a;
  padding: 20px 0;
}
.footer_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.social_media {
  max-width: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  grid-gap: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.location_social_media{
  max-width: 300px;
  width: 100%;
  grid-gap: 10px;
}
.location_social_media_a{
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
.location_social_media_a:hover{
  color: rgb(250, 192, 31);
}

.media_img {
  max-width: 40px;
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
}
.media_img:hover {
  max-width: 45px;
}
.media_img img {
  width: 100%;
}
.footer_contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 10px;
  height: 100px;
}
.footer_contacts a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
.footer_contacts_text{
  font-weight: bolder;
  font-size: 18px;
}
.footer_contacts a:hover {
  color: rgb(250, 192, 31);
}
.contact_us {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_form{
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}
.footer_form input{
  outline: none;
  padding-left: 5px;
}
.footer_form textarea{
  outline: none;
  padding-left: 5px;
}
.footer_form_f5 {
  font-size: 16px;
  color: #fff;
}

/* P2 */
.info_description_p2 {
  font-size: 14px;
}
/* ------------------------------------------------------------------------------------ */

/* P3 */
.p3_h1_name {
  font-size: 30px;
  color: #2e84ba;
}
.p3_tag_block{
  width: 100%;
  margin-top: 20px;
}
.p3_tag_h1{
  font-size: 18px;
  color: #1f4375;
}
.p3_tag_p{
  font-size: 15px;
  color: #7a7a7a;
}
.p3_tag_h1 li{
  margin-left: 5px;
}
.p3_img_blog{
  max-width: 600px;
  width: 100%;
  margin-top: 20px;
}
.p3_img_blog img{
  width: 100%;
}
/* contacts */
.contacts_part {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 90;
}
.contacts_part a {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.contacts_part a:hover {
  width: 65px;
  height: 65px;
  color: #fff;
}
.media_img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone {
  background-color: rgba(28, 133, 186, 0.51);
  margin-bottom: 20px;
}
.whatsap {
  background-color: rgba(21, 171, 68, 0.401);
}

/* MODAL WINDOW */
.modal_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.313);
}
.modal_items {
  background-color: #fff;
  padding: 30px 50px;
  max-width: 600px;
  width: 100%;
  position: relative;
}
.modal_window_show{
  display: none;
}
.modal_show{
  display: block;
}
.close_modal{
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 5px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  outline: none;
  cursor: pointer;
  background-color:#fff;
}
.modal_show_img{
  max-width: 20px;
}
.modal_show_img img{
  width: 100%;
}
.modal_form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-gap: 15px;
}
.modal_h1{
  margin: 20px 20px;
  text-align: center;
}
.modal_form input{
  max-width: 500px;
  width: 100%;
  height: 40px;
  padding-left: 5px;
}
.modal_form select{
  max-width: 500px;
  width: 100%;
  height: 40px;
  padding-left: 5px;
}
.modal_submit{
  border: none;
  outline: none;
  padding: 5px;
  background-color: rgb(119, 214, 119);
  color: #fff;
  border-radius: 3px;
}
.modal_p{
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 20px;
}
@media screen and (max-width: 642px) {
  .modal_items {
    padding: 30px 10px;
  }
}
/* -------------------------------------------------------------------------------------- */
/* АДАПТИВКА */
@media screen and (max-width: 768px) {
  .location_social_media{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
   }
}
@media screen and (max-width: 650px) {
  .product {
    max-width: 240px;
  }
  .info_description {
    font-size: 14px;
  }
  .product_buuttons {
    max-width: 250px;
    padding: 0 5px;
  }
  .footer_container {
    justify-content: center;
    flex-direction: column;
    grid-gap: 20px;
  }
  .info_h1 {
    font-size: 20px;
  }
  .unick_h1 {
    font-size: 16px;
  }
  .info_description {
    font-size: 12px;
  }

  /* P3 */
  .p3_h1_name {
    font-size: 15px;
  }
  .p3_tag_h1{
    font-size: 16px;
  }
  .p3_tag_p{
    font-size: 12px;
  }
  .p3_tag_h1 li{
    font-size: 13px;
  }
}
@media screen and (max-width: 400px) {
  .name_picture_product {
    flex-direction: column;
  }
  .name_picture_h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* contact */
  .contacts_part {
    position: fixed;
    right: 5px;
    bottom: 20px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 90;
  }
  .contacts_part a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
  }
  .contacts_part a:hover {
    width: 65px;
    height: 65px;
    color: #fff;
  }
}
